<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>

	<style>
		body{
			background: #A078FA;

		}
		h1 {
			color:#33C7FF;
			text-align:center;
			font-size:60px;
			margin:10%;
			font-family: Futura, "Trebuchet MS", Arial, sans-serif;
			font-style: normal;
			font-variant: normal;
			font-weight: 500;
			line-height: 26.4px;
		}
		form {
			font-color:#33C7FF;
			text-align:center;
			color: #003d4d;
  			font-size: 16px;
  			margin: 5%;
   			height:100%;
		}
	</style>
</head>
<body>
	<h1> Collab Class </h2>
	<form action='collab.html'> 
		<font color=#33C7FF>Username:</font> <br><input type="text" name ="uname"<br>
		<br><input type="submit" value="Press enter">
	</form>
</body>
</html>
